In [17]:
# Load environment variables and set up Kaggle API
import os
from dotenv import load_dotenv

# Load credentials from .env file
load_dotenv()

# Set Kaggle credentials as environment variables (required by kaggle API)
os.environ['KAGGLE_USERNAME'] = os.getenv('KAGGLE_USERNAME')
os.environ['KAGGLE_KEY'] = os.getenv('KAGGLE_KEY')

print("Kaggle credentials loaded!")

Kaggle credentials loaded!

In [18]:
# Install kaggle package (required in this environment)
%pip install --quiet kaggle

# Download a dataset from Kaggle
from kaggle.api.kaggle_api_extended import KaggleApi

# Initialize and authenticate
api = KaggleApi()
api.authenticate()

# Example: Download NBA dataset
# Format: "owner/dataset-name"
dataset_name = "eoinamoore/historical-nba-data-and-player-box-scores"  # Change this to your desired dataset

# Download to a specific folder
download_path = "./data"
os.makedirs(download_path, exist_ok=True)

api.dataset_download_files(dataset_name, path=download_path, unzip=True)
print(f"Dataset downloaded to {download_path}")

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.
Dataset URL: https://www.kaggle.com/datasets/eoinamoore/historical-nba-data-and-player-box-scores
Dataset downloaded to ./data

In [19]:
# List downloaded files
import glob

files = glob.glob(f"{download_path}/*")
print("Downloaded files:")
for f in files:
    print(f"  - {f}")

Downloaded files:
  - ./data/LeagueSchedule25_26.csv
  - ./data/TeamStatistics.csv
  - ./data/LeagueSchedule24_25.csv
  - ./data/PlayerStatistics.csv
  - ./data/Players.csv
  - ./data/TeamHistories.csv
  - ./data/Games.csv
  - ./data/processed

In [20]:
# Load the datasets
import pandas as pd

# Load team statistics and team histories
df = pd.read_csv(f"{download_path}/TeamStatistics.csv")
team_histories = pd.read_csv(f"{download_path}/TeamHistories.csv")

print(f"Team Statistics Shape: {df.shape}")
print(f"Team Histories Shape: {team_histories.shape}")
print(f"\nTeam Statistics Columns:\n{df.columns.tolist()}")
print(f"\nDate Range: {df['gameDateTimeEst'].min()} to {df['gameDateTimeEst'].max()}")

Team Statistics Shape: (144580, 48)
Team Histories Shape: (140, 7)

Team Statistics Columns:
['gameId', 'gameDateTimeEst', 'teamCity', 'teamName', 'teamId', 'opponentTeamCity', 'opponentTeamName', 'opponentTeamId', 'home', 'win', 'teamScore', 'opponentScore', 'assists', 'blocks', 'steals', 'fieldGoalsAttempted', 'fieldGoalsMade', 'fieldGoalsPercentage', 'threePointersAttempted', 'threePointersMade', 'threePointersPercentage', 'freeThrowsAttempted', 'freeThrowsMade', 'freeThrowsPercentage', 'reboundsDefensive', 'reboundsOffensive', 'reboundsTotal', 'foulsPersonal', 'turnovers', 'plusMinusPoints', 'numMinutes', 'q1Points', 'q2Points', 'q3Points', 'q4Points', 'benchPoints', 'biggestLead', 'biggestScoringRun', 'leadChanges', 'pointsFastBreak', 'pointsFromTurnovers', 'pointsInThePaint', 'pointsSecondChance', 'timesTied', 'timeoutsRemaining', 'seasonWins', 'seasonLosses', 'coachId']

Date Range: 1946-11-26 19:00:00 to 2025-12-05 16:30:00

In [21]:
# Extract season year from game date and explore team histories
# Parse datetimes robustly (handle timezone offsets like "-04:00")
df['gameDateTimeEst'] = pd.to_datetime(df['gameDateTimeEst'], utc=True, errors='coerce', infer_datetime_format=True)

# If any unparsable values remain, attempt individual parsing with dateutil as fallback
if df['gameDateTimeEst'].isna().any():
	import dateutil.parser as _dp
	def _safe_parse(x):
		try:
			return pd.to_datetime(_dp.parse(str(x)), utc=True)
		except Exception:
			return pd.NaT
	mask = df['gameDateTimeEst'].isna()
	df.loc[mask, 'gameDateTimeEst'] = df.loc[mask, 'gameDateTimeEst'].apply(_safe_parse)

# Ensure the column is converted to a proper datetime dtype (may still be object after fallback)
df['gameDateTimeEst'] = pd.to_datetime(df['gameDateTimeEst'], utc=True, errors='coerce')

# Convert to naive timestamps (remove tz info) for consistency if tz-aware
if pd.api.types.is_datetime64tz_dtype(df['gameDateTimeEst'].dtype):
	df['gameDateTimeEst'] = df['gameDateTimeEst'].dt.tz_convert(None)

# If conversion failed and dtype is not datetimelike, warn and avoid .dt access to prevent AttributeError
if not pd.api.types.is_datetime64_any_dtype(df['gameDateTimeEst'].dtype):
	print("Warning: gameDateTimeEst could not be converted to datetimelike dtype; some values may be strings or NaT")
	# Create year/month with safe extraction (will produce NaN where parse failed)
	df['year'] = pd.to_datetime(df['gameDateTimeEst'], errors='coerce').dt.year
	df['month'] = pd.to_datetime(df['gameDateTimeEst'], errors='coerce').dt.month
else:
	df['year'] = df['gameDateTimeEst'].dt.year
	df['month'] = df['gameDateTimeEst'].dt.month

# NBA season spans two calendar years (Oct-Jun), assign season by the starting year
# Games from Oct-Dec belong to that year's season, Jan-Jun belong to previous year's season
df['season'] = df.apply(lambda x: x['year'] if pd.notna(x['year']) and x['month'] >= 10 else (x['year'] - 1 if pd.notna(x['year']) else pd.NA), axis=1)

# Report any unparsed values
n_unparsed = df['gameDateTimeEst'].isna().sum()
if n_unparsed:
	print(f"Warning: {n_unparsed} gameDateTimeEst values could not be parsed and are NaT")

print(f"Seasons available: {sorted([s for s in df['season'].dropna().unique()])}")
print(f"\nGames per season:")
print(df.groupby('season').size().sort_index())

/var/folders/31/_t7r4pl15ng3lrdcglpq152w0000gr/T/ipykernel_54788/1424792951.py:3: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df['gameDateTimeEst'] = pd.to_datetime(df['gameDateTimeEst'], utc=True, errors='coerce', infer_datetime_format=True)
/var/folders/31/_t7r4pl15ng3lrdcglpq152w0000gr/T/ipykernel_54788/1424792951.py:14: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '<DatetimeArray>
['NaT', 'NaT']
Length: 2, dtype: datetime64[ns]' has dtype incompatible with datetime64[ns, UTC], please explicitly cast to a compatible dtype first.
  df.loc[mask, 'gameDateTimeEst'] = df.loc[mask, 'gameDateTimeEst'].apply(_safe_parse)
/var/folders/31/_t7r4pl15ng3lrdcglpq152w0000gr/T/ipykernel_54788/1424792951.py:20: DeprecationWarning: is_datetime64tz_dtype is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.DatetimeTZDtype)` instead.
  if pd.api.types.is_datetime64tz_dtype(df['gameDateTimeEst'].dtype):

Warning: 2 gameDateTimeEst values could not be parsed and are NaT
Seasons available: [1946.0, 1947.0, 1948.0, 1949.0, 1950.0, 1951.0, 1952.0, 1953.0, 1954.0, 1955.0, 1956.0, 1957.0, 1958.0, 1959.0, 1960.0, 1961.0, 1962.0, 1963.0, 1964.0, 1965.0, 1966.0, 1967.0, 1968.0, 1969.0, 1970.0, 1971.0, 1972.0, 1973.0, 1974.0, 1975.0, 1976.0, 1977.0, 1978.0, 1979.0, 1980.0, 1981.0, 1982.0, 1983.0, 1984.0, 1985.0, 1986.0, 1987.0, 1988.0, 1989.0, 1990.0, 1991.0, 1992.0, 1993.0, 1994.0, 1995.0, 1996.0, 1997.0, 1998.0, 1999.0, 2000.0, 2001.0, 2002.0, 2003.0, 2004.0, 2005.0, 2006.0, 2007.0, 2008.0, 2009.0, 2010.0, 2011.0, 2012.0, 2013.0, 2014.0, 2015.0, 2016.0, 2017.0, 2018.0, 2019.0, 2020.0, 2021.0, 2022.0, 2023.0, 2024.0, 2025.0]

Games per season:
season
1946.0      40
1947.0      48
1948.0     166
1949.0     274
1950.0     442
          ...
2021.0    2780
2022.0    2768
2023.0    2766
2024.0    2770
2025.0     820
Length: 80, dtype: int64

In [22]:
# Analyze team histories to identify discontinued/relocated teams
print("Team Histories (franchise lineages):")
print(team_histories.to_string())

# Create mapping of old team IDs to current franchise IDs
# Teams that relocated/renamed should map to their current identity
team_histories['seasonActiveTill'] = team_histories['seasonActiveTill'].astype(int)
team_histories['seasonFounded'] = team_histories['seasonFounded'].astype(int)

# Get current active teams (seasonActiveTill >= 2024 or 2100 which means still active)
current_teams = team_histories[team_histories['seasonActiveTill'] >= 2024][['teamId', 'teamCity', 'teamName', 'teamAbbrev']].drop_duplicates()
print(f"\nCurrent Active Teams ({len(current_teams)}):")
print(current_teams.sort_values('teamName'))

Team Histories (franchise lineages):
         teamId           teamCity                   teamName teamAbbrev  seasonFounded  seasonActiveTill                  league
0    1610612737         Tri-Cities                 Blackhawks      TRI             1946              1948                     BAA
1    1610612737          Milwaukee                      Hawks      MIL             1951              1954                     NBA
2    1610612737          St. Louis                      Hawks      STL             1955              1967                     NBA
3    1610612737            Atlanta                      Hawks      ATL             1968              2100                     NBA
4    1610612738             Boston                    Celtics      BOS             1946              1948                     BAA
5    1610612739          Cleveland                  Cavaliers      CLE             1970              2100                     NBA
6    1610612740        New Orleans                    Hornets      NOH             2002              2004                     NBA
7    1610612740      Oklahoma City                    Hornets      NOK             2005              2006                     NBA
8    1610612740        New Orleans                    Hornets      NOH             2007              2012                     NBA
9    1610612740        New Orleans                   Pelicans      NOP             2013              2100                     NBA
10   1610612741            Chicago                      Bulls      CHI             1966              2100                     NBA
11   1610612742             Dallas                  Mavericks      DAL             1980              2100                     NBA
12   1610612743             Denver                    Nuggets      DEN             1976              2100                     NBA
13   1610612744       Philadelphia                   Warriors      PHI             1946              1948                     BAA
14   1610612744      San Francisco                   Warriors      SF              1962              1970                     NBA
15   1610612744       Golden State                   Warriors      GSW             1971              2100                     NBA
16   1610612745          San Diego                    Rockets      SD              1967              1970                     NBA
17   1610612745            Houston                    Rockets      HOU             1971              2100                     NBA
18   1610612746            Buffalo                     Braves      BUF             1970              1977                     NBA
19   1610612746          San Diego                   Clippers      SDC             1978              1983                     NBA
20   1610612746        Los Angeles                   Clippers      LAC             1984              2100                     NBA
21   1610612747        Minneapolis                     Lakers      MIN             1948              1948                     BAA
22   1610612747        Los Angeles                     Lakers      LAL             1960              2100                     NBA
23   1610612748              Miami                       Heat      MIA             1988              2100                     NBA
24   1610612749          Milwaukee                      Bucks      MIL             1968              2100                     NBA
25   1610612750          Minnesota               Timberwolves      MIN             1989              2100                     NBA
26   1610612751           New York                       Nets      NYK             1976              1976                     NBA
27   1610612751         New Jersey                       Nets      NJ              1977              2011                     NBA
28   1610612751           Brooklyn                       Nets      BKN             2012              2100                     NBA
29   1610612752           New York                     Knicks      NYK             1946              1948                     BAA
30   1610612753            Orlando                      Magic      ORL             1989              2100                     NBA
31   1610612754            Indiana                     Pacers      IND             1976              2100                     NBA
32   1610612755           Syracuse                  Nationals      SYR             1949              1962                     BAA
33   1610612755       Philadelphia                      76ers      PHI             1963              2100                     NBA
34   1610612756            Phoenix                       Suns      PHX             1968              2100                     NBA
35   1610612757           Portland              Trail Blazers      POR             1970              2100                     NBA
36   1610612758          Rochester                     Royals      ROC             1948              1948                     BAA
37   1610612758         Cincinnati                     Royals      CIN             1957              1971                     NBA
38   1610612758  Kansas City-Omaha                      Kings      KCO             1972              1974                     NBA
39   1610612758        Kansas City                      Kings      KC              1975              1984                     NBA
40   1610612758         Sacramento                      Kings      SAC             1985              2100                     NBA
41   1610612759        San Antonio                      Spurs      SAN             1976              2100                     NBA
42   1610612760            Seattle                SuperSonics      SEA             1967              2007                     NBA
43   1610612760      Oklahoma City                    Thunder      OKC             2008              2100                     NBA
44   1610612761            Toronto                    Raptors      TOR             1995              2100                     NBA
45   1610612762        New Orleans                       Jazz      NEO             1974              1978                     NBA
46   1610612762               Utah                       Jazz      UTA             1979              2100                     NBA
47   1610612763          Vancouver                  Grizzlies      VAN             1995              2000                     NBA
48   1610612763            Memphis                  Grizzlies      MEM             2001              2100                     NBA
49   1610612764            Chicago                    Packers      CHI             1961              1961                     NBA
50   1610612764            Chicago                    Zephyrs      CHI             1962              1962                     NBA
51   1610612764          Baltimore                    Bullets      BAL             1963              1972                     NBA
52   1610612764            Capital                    Bullets      CAP             1973              1973                     NBA
53   1610612764         Washington                    Bullets      WAS             1974              1996                     NBA
54   1610612764         Washington                    Wizards      WAS             1997              2100                     NBA
55   1610612765  Ft. Wayne Zollner                    Pistons      FWZ             1948              1948                     BAA
56   1610612765            Detroit                    Pistons      DET             1957              2100                     NBA
57   1610612766          Charlotte                    Hornets      CHA             1988              2001                     NBA
58   1610612766          Charlotte                    Bobcats      CHA             2004              2013                     NBA
59   1610612766          Charlotte                    Hornets      CHA             2014              2100                     NBA
60         9001         Pittsburgh                    Ironmen      PIT             1946              1948                     BAA
61   1610612738             Boston                    Celtics      BOS             1949              2100                     NBA
62         9003              Siena          Montepaschi Siena      MPS             1934              2100                     LBA
63         9005               Rome           Lottomatica Roma      LRO             1960              2020                     LBA
64   1610612747        Minneapolis                     Lakers      LAL             1949              1959                     NBA
65         9007            Beijing                      Ducks      BJD             1995              2100                     CBA
66         9009             Athens                 Olympiacos      OLP             1931              2100              EuroLeague
67   1610612758          Rochester                     Royals      ROC             1949              1956                     NBA
68         9011           Istanbul                Efes Pilsen      EPT             1976              2100              EuroLeague
69   1610612765  Ft. Wayne Zollner                    Pistons      FWZ             1949              1956                     NBA
70         9013           All-Star                Team Durant      DRT             2021              2022                     NBA
71         9015         Washington                   Capitols      WAS             1949              1949                     NBA
72         9015         Washington                   Capitols      WAS             1946              1948                     BAA
73         9059            Chicago                      Stags      CHS             1949              1950                     NBA
74         9017          Cleveland                     Rebels      CLR             1946              1948                     BAA
75         9063          Sheboygan                   Redskins      SHE             1949              1950                     NBA
76         9019           Shanghai                     Sharks      SDS             1996              2100                     CBA
77         9012          St. Louis                    Bombers      BOM             1949              1950                     NBA
78         9021               Rome         Virtus Lottomatica      ROM             1960              2020                     LBA
79         9028           Anderson                    Packers      AND             1949              1950                     NBA
80         9023           Istanbul                 Fenerbahce      FEN             1913              2100              EuroLeague
81   1610612752           New York                     Knicks      NYK             1949              2100                     NBA
82         9025           All-Star               Team Giannis      GNS             2019              2023                     NBA
83   1610612744       Philadelphia                   Warriors      PHI             1949              1961                     NBA
84         9027           Adelaide                      36ers      ADL             1982              2100                     NBL
85         9029           Auckland                   Breakers      NZB             2003              2100                     NBL
86         9031           Istanbul           Fenerbahce Ulker      FBU             2006              2015              EuroLeague
87         9033               East              NBA All-Stars      EST             1951              2100                     NBA
88         9035             Athens              Panathinaikos      PAN             1919              2100              EuroLeague
89         9037             Cairns                    Taipans      CNS             1999              2100                     NBL
90         9039           All-Star                Team LeBron      LBN             2018              2100                     NBA
91         9041          Barcelona         Regal FC Barcelona      BAR             2011              2013              EuroLeague
92         9043           All-Star               Team Giannis      GNS             2019              2100                     NBA
93         9045             Bilbao              Bilbao Basket      UBB             2000              2100                 EuroCup
94         9047             Madrid                Real Madrid      RMA             1931              2100              EuroLeague
95         9049       Buenos Aires                San Lorenzo      SLA             1936              2100           Liga Nacional
96   1610612755           Syracuse                  Nationals      SYR             1946              1948                     NBL
97         9051              Haifa              Maccabi Haifa      MAC             1953              2100  Israeli Premier League
98   1610612737         Tri-Cities                 Blackhawks      TRI             1948              1950                     NBA
99         9053             Madrid   Baloncesto (Real Madrid)      RMD             1931              2100              EuroLeague
100        9055              Milan  EA7 Emporio Armani Milano      EAM             2011              2019              EuroLeague
101        9057           Shanghai            Shanghai Sharks      SDS             1996              2100                     CBA
102        9059            Chicago                      Stags      CHS             1946              1948                     BAA
103        9061             Moscow                       CSKA      MOS             1923              2100              EuroLeague
104        9063          Sheboygan                   Redskins      SHE             1938              1948                     BAA
105        9065             Madrid                Real Madrid      RMD             1931              2100              EuroLeague
106        9067               West              NBA All-Stars      WST             1951              2100                     NBA
107        9002           Waterloo                      Hawks      WAT             1949              1948                     NBL
108        9004          Barcelona         FC Barcelona Regal      FCB             1926              2100              EuroLeague
109        9006           Belgrade                   Partizan      PAR             1945              2100              EuroLeague
110        9008       Indianapolis                       Jets      JET             1948              1948                     BAA
111        9010             Khimki                  BC Khimki      KHI             1997              2100       VTB United League
112        9012          St. Louis                    Bombers      BOM             1946              1948                     BAA
113        9014    Franca (Brazil)                SESI/Franca      FRA             1959              2100                     NBB
114        9016           Brisbane                    Bullets      BNE             1979              2100                     NBL
115        9018            Vilnius             Lietuvos Rytas      LRY             1997              2100                 EuroCup
116        9020            Detroit                    Falcons      DEF             1946              1948                     BAA
117        9022          Barcelona    Winterthur FC Barcelona      BAR             2005              2007              EuroLeague
118        9024    Vitoria-Gasteiz    Caja Laboral (Baskonia)      LAB             2009              2013                Liga ACB
119        9026  Lyon-Villeurbanne               Adecco ASVEL      LYV             1948              2100              EuroLeague
120        9028           Anderson                    Packers      AND             1946              1948                     NBL
121        9030              Milan        Armani Jeans Milano      MLN             2008              2011              EuroLeague
122        9032              Perth                   Wildcats      PER             1982              2100                     NBL
123        9034             Sydney                      Kings      SYD             1988              2100                     NBL
124        9036              China                 Team China      CHN             1936              2100                     CBA
125        9038             Malaga                    Unicaja      MAL             1977              2100                 EuroCup
126        9040           All-Star            All-Star LeBron      LBN             2018              2100                     NBA
127        9042            Toronto                    Huskies      HUS             1946              1948                     BAA
128        9044             Berlin                ALBA Berlin      ALB             1991              2100              EuroLeague
129        9046             Madrid            MMT Estudiantes      MMT             2007              2011              EuroLeague
130        9048          Guangzhou                 Long-Lions      GUA             2010              2100                     CBA
131        9050          Melbourne                     United      MEL             2014              2100                     NBL
132        9052           Tel Aviv              Maccabi Elite      MTA             1969              2008              EuroLeague
133        9054           Tel Aviv            Maccabi Electra      MTA             2008              2015              EuroLeague
134        9056         Providence               Steamrollers      PRO             1946              1948                     BAA
135        9058       Indianapolis                  Olympians      INO             1949              1948                     BAA
136        9060     Rio de Janeiro                   Flamengo      FLA             1919              2100           Liga Nacional
137        9062           All-Star               Team Stephen      STP             2018              2018                     NBA
138        9064             Kaunas                   Zalgiris      ZAK             1944              2100              EuroLeague
139        9066            Raanana           Maccabi Ra anana      MRA             1980              2100  Israeli Premier League

Current Active Teams (70):
         teamId           teamCity         teamName teamAbbrev
84         9027           Adelaide            36ers      ADL
33   1610612755       Philadelphia            76ers      PHI
128        9044             Berlin      ALBA Berlin      ALB
119        9026  Lyon-Villeurbanne     Adecco ASVEL      LYV
126        9040           All-Star  All-Star LeBron      LBN
..          ...                ...              ...        ...
131        9050          Melbourne           United      MEL
15   1610612744       Golden State         Warriors      GSW
122        9032              Perth         Wildcats      PER
54   1610612764         Washington          Wizards      WAS
138        9064             Kaunas         Zalgiris      ZAK

[70 rows x 4 columns]

In [23]:
# Handle discontinued/relocated teams by mapping to current franchise
# The teamId remains constant through relocations, so we just need to track name changes

# Create a mapping dictionary for team names based on teamId to current name
current_team_names = team_histories[team_histories['seasonActiveTill'] >= 2024].set_index('teamId')[['teamCity', 'teamName', 'teamAbbrev']].to_dict('index')

# Map to current franchise names
df['currentTeamCity'] = df['teamId'].map(lambda x: current_team_names.get(x, {}).get('teamCity', 'Unknown'))
df['currentTeamName'] = df['teamId'].map(lambda x: current_team_names.get(x, {}).get('teamName', 'Unknown'))
df['currentTeamAbbrev'] = df['teamId'].map(lambda x: current_team_names.get(x, {}).get('teamAbbrev', 'UNK'))

# Same for opponent teams
df['currentOppTeamCity'] = df['opponentTeamId'].map(lambda x: current_team_names.get(x, {}).get('teamCity', 'Unknown'))
df['currentOppTeamName'] = df['opponentTeamId'].map(lambda x: current_team_names.get(x, {}).get('teamName', 'Unknown'))

# Check for any unmapped teams (truly discontinued franchises)
unmapped = df[df['currentTeamName'] == 'Unknown'][['teamId', 'teamCity', 'teamName', 'season']].drop_duplicates()
if len(unmapped) > 0:
    print("Unmapped/Discontinued teams found:")
    print(unmapped)
else:
    print("All teams successfully mapped to current franchises!")
    
print(f"\nSample of mapped data:")
df[['teamCity', 'teamName', 'currentTeamCity', 'currentTeamName', 'season']].drop_duplicates().head(30)

Unmapped/Discontinued teams found:
     teamId              teamCity        teamName  season
728   15018             Guangzhou     Loong-Lions  2025.0
807   50013  South East Melbourne         Phoenix  2025.0
813   50014                Hapoel  Jerusalem B.C.  2025.0
818   15016             Melbourne          United  2025.0

Sample of mapped data:

         teamCity       teamName currentTeamCity currentTeamName  season
0          Dallas      Mavericks          Dallas       Mavericks  2025.0
1   Oklahoma City        Thunder   Oklahoma City         Thunder  2025.0
2         Chicago          Bulls         Chicago           Bulls  2025.0
3         Houston        Rockets         Houston         Rockets  2025.0
4              LA       Clippers     Los Angeles        Clippers  2025.0
5       Milwaukee          Bucks       Milwaukee           Bucks  2025.0
6         Indiana         Pacers         Indiana          Pacers  2025.0
7    Philadelphia          76ers    Philadelphia           76ers  2025.0
8         Phoenix           Suns         Phoenix            Suns  2025.0
9         Memphis      Grizzlies         Memphis       Grizzlies  2025.0
10        Atlanta          Hawks         Atlanta           Hawks  2025.0
11      Cleveland      Cavaliers       Cleveland       Cavaliers  2025.0
12         Denver        Nuggets          Denver         Nuggets  2025.0
13       New York         Knicks        New York          Knicks  2025.0
14       Portland  Trail Blazers        Portland   Trail Blazers  2025.0
15    San Antonio          Spurs     San Antonio           Spurs  2025.0
16        Toronto        Raptors         Toronto         Raptors  2025.0
17           Utah           Jazz            Utah            Jazz  2025.0
18        Detroit        Pistons         Detroit         Pistons  2025.0
19      Charlotte        Hornets       Charlotte         Hornets  2025.0
20         Boston        Celtics          Boston         Celtics  2025.0
21    Los Angeles         Lakers     Los Angeles          Lakers  2025.0
22          Miami           Heat           Miami            Heat  2025.0
23        Orlando          Magic         Orlando           Magic  2025.0
24    New Orleans       Pelicans     New Orleans        Pelicans  2025.0
25      Minnesota   Timberwolves       Minnesota    Timberwolves  2025.0
27       Brooklyn           Nets        Brooklyn            Nets  2025.0
31   Golden State       Warriors    Golden State        Warriors  2025.0
33     Washington        Wizards      Washington         Wizards  2025.0
40     Sacramento          Kings      Sacramento           Kings  2025.0

In [24]:
# Define season splits first (needed for filtering)
# Training: 2000-2014
# Validation: 2015-2018  
# Test: 2021-2024

# Check available seasons in our data
available_seasons = sorted(df['season'].dropna().unique())
print(f"Available seasons: {available_seasons}")

# Filter out seasons with incomplete data (less than 25 teams or less than 50 games avg)
season_game_counts = df.groupby('season').size()
season_team_counts = df.groupby('season')['teamId'].nunique()

complete_season_list = [s for s in available_seasons 
                       if season_team_counts.get(s, 0) >= 25 and season_game_counts.get(s, 0) >= 1000]
print(f"Complete seasons (>=25 teams, >=1000 games): {complete_season_list}")

# Define splits
train_seasons = [s for s in range(2000, 2015) if s in complete_season_list]
val_seasons = [s for s in range(2015, 2019) if s in complete_season_list]
test_seasons = [s for s in range(2021, 2025) if s in complete_season_list]

print(f"\nTraining seasons: {train_seasons}")
print(f"Validation seasons: {val_seasons}")
print(f"Test seasons: {test_seasons}")

Available seasons: [1946.0, 1947.0, 1948.0, 1949.0, 1950.0, 1951.0, 1952.0, 1953.0, 1954.0, 1955.0, 1956.0, 1957.0, 1958.0, 1959.0, 1960.0, 1961.0, 1962.0, 1963.0, 1964.0, 1965.0, 1966.0, 1967.0, 1968.0, 1969.0, 1970.0, 1971.0, 1972.0, 1973.0, 1974.0, 1975.0, 1976.0, 1977.0, 1978.0, 1979.0, 1980.0, 1981.0, 1982.0, 1983.0, 1984.0, 1985.0, 1986.0, 1987.0, 1988.0, 1989.0, 1990.0, 1991.0, 1992.0, 1993.0, 1994.0, 1995.0, 1996.0, 1997.0, 1998.0, 1999.0, 2000.0, 2001.0, 2002.0, 2003.0, 2004.0, 2005.0, 2006.0, 2007.0, 2008.0, 2009.0, 2010.0, 2011.0, 2012.0, 2013.0, 2014.0, 2015.0, 2016.0, 2017.0, 2018.0, 2019.0, 2020.0, 2021.0, 2022.0, 2023.0, 2024.0, 2025.0]
Complete seasons (>=25 teams, >=1000 games): [1988.0, 1989.0, 1990.0, 1991.0, 1992.0, 1993.0, 1994.0, 1995.0, 1996.0, 1997.0, 1998.0, 1999.0, 2000.0, 2001.0, 2002.0, 2003.0, 2004.0, 2005.0, 2006.0, 2007.0, 2008.0, 2009.0, 2010.0, 2011.0, 2012.0, 2013.0, 2014.0, 2015.0, 2016.0, 2017.0, 2018.0, 2019.0, 2020.0, 2021.0, 2022.0, 2023.0, 2024.0]

Training seasons: [2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014]
Validation seasons: [2015, 2016, 2017, 2018]
Test seasons: [2021, 2022, 2023, 2024]

In [25]:
# Filter training data to only include games before All-Star break
allstar_break_dates = {
    1999: pd.Timestamp('2000-02-13'),
    2000: pd.Timestamp('2001-02-11'),
    2001: pd.Timestamp('2002-02-10'),
    2002: pd.Timestamp('2003-02-09'),
    2003: pd.Timestamp('2004-02-15'),
    2004: pd.Timestamp('2005-02-20'),
    2005: pd.Timestamp('2006-02-19'),
    2006: pd.Timestamp('2007-02-18'),
    2007: pd.Timestamp('2008-02-17'),
    2008: pd.Timestamp('2009-02-15'),
    2009: pd.Timestamp('2010-02-14'),
    2010: pd.Timestamp('2011-02-20'),
    2011: pd.Timestamp('2012-02-26'),
    2012: pd.Timestamp('2013-02-17'),
    2013: pd.Timestamp('2014-02-16'),
    2014: pd.Timestamp('2015-02-15'),
    2015: pd.Timestamp('2016-02-14'),
    2016: pd.Timestamp('2017-02-19'),
    2017: pd.Timestamp('2018-02-18'),
    2018: pd.Timestamp('2019-02-17'),
    2019: pd.Timestamp('2020-02-16'),
    2020: pd.Timestamp('2021-03-07'),
    2021: pd.Timestamp('2022-02-20'),
    2022: pd.Timestamp('2023-02-19'),
    2023: pd.Timestamp('2024-02-18'),
    2024: pd.Timestamp('2025-02-16'),
}

# Create a copy of training data filtered for All-Star break
df_train_filtered = df[df['season'].isin(train_seasons)].copy()

# Apply All-Star break cutoff for each training season
def filter_before_allstar(df_season):
    season = df_season['season'].iloc[0]
    if season in allstar_break_dates:
        cutoff_date = allstar_break_dates[season]
        df_season = df_season[df_season['gameDateTimeEst'] < cutoff_date]
    return df_season

df_train_filtered = df_train_filtered.groupby('season', group_keys=False).apply(filter_before_allstar)

print(f"Original training games: {len(df[df['season'].isin(train_seasons)])}")
print(f"Training games before All-Star break: {len(df_train_filtered)}")
print(f"\nGames removed: {len(df[df['season'].isin(train_seasons)]) - len(df_train_filtered)}")

# Show game count per season before and after filtering
print("\nGames per training season (before vs after All-Star break):")
before = df[df['season'].isin(train_seasons)].groupby('season').size()
after = df_train_filtered.groupby('season').size()
comparison = pd.DataFrame({'before': before, 'after': after})
comparison['removed'] = comparison['before'] - comparison['after']
print(comparison)

Original training games: 40682
Training games before All-Star break: 24672

Games removed: 16010

Games per training season (before vs after All-Star break):
        before  after  removed
season
2000.0    2520   1418     1102
2001.0    2520   1394     1126
2002.0    2554   1414     1140
2003.0    2572   1548     1024
2004.0    2724   1658     1066
2005.0    2864   1784     1080
2006.0    2838   1796     1042
2007.0    2820   1746     1074
2008.0    2840   1784     1056
2009.0    2848   1782     1066
2010.0    2844   1892      952
2011.0    2208   1064     1144
2012.0    2840   1788     1052
2013.0    2854   1794     1060
2014.0    2836   1810     1026

/var/folders/31/_t7r4pl15ng3lrdcglpq152w0000gr/T/ipykernel_54788/885367885.py:42: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df_train_filtered = df_train_filtered.groupby('season', group_keys=False).apply(filter_before_allstar)

In [26]:
# Aggregate season statistics per team for playoff prediction
# For TRAINING data: only use games before All-Star break
# For VALIDATION/TEST data: use full season

# Prepare datasets for aggregation
df_train_agg = df_train_filtered.copy()  # Training: filtered by All-Star break
df_val_test_agg = df[df['season'].isin(val_seasons + test_seasons)].copy()  # Val/Test: full seasons

# Combine for aggregation
df_for_agg = pd.concat([df_train_agg, df_val_test_agg])

season_stats = df_for_agg.groupby(['season', 'teamId', 'currentTeamName']).agg({
    # Win/Loss record
    'win': 'sum',
    'teamScore': ['mean', 'std', 'sum'],
    'opponentScore': ['mean', 'std', 'sum'],
    
    # Offensive stats
    'assists': 'mean',
    'fieldGoalsMade': 'mean',
    'fieldGoalsAttempted': 'mean',
    'fieldGoalsPercentage': 'mean',
    'threePointersMade': 'mean',
    'threePointersAttempted': 'mean',
    'threePointersPercentage': 'mean',
    'freeThrowsMade': 'mean',
    'freeThrowsAttempted': 'mean',
    'freeThrowsPercentage': 'mean',
    
    # Defensive stats
    'blocks': 'mean',
    'steals': 'mean',
    'reboundsDefensive': 'mean',
    'reboundsOffensive': 'mean',
    'reboundsTotal': 'mean',
    
    # Other stats
    'turnovers': 'mean',
    'foulsPersonal': 'mean',
    'plusMinusPoints': 'mean',
    'pointsInThePaint': 'mean',
    'pointsFastBreak': 'mean',
    'pointsFromTurnovers': 'mean',
    'benchPoints': 'mean',
    
    # Game count
    'gameId': 'count'
}).reset_index()

# Flatten column names
season_stats.columns = ['_'.join(col).strip('_') if isinstance(col, tuple) else col 
                        for col in season_stats.columns]

# Rename some columns for clarity
season_stats = season_stats.rename(columns={
    'win_sum': 'wins',
    'gameId_count': 'games_played',
    'teamScore_mean': 'avg_points_scored',
    'teamScore_std': 'std_points_scored',
    'opponentScore_mean': 'avg_points_allowed',
    'opponentScore_std': 'std_points_allowed'
})

# Calculate additional derived features
season_stats['losses'] = season_stats['games_played'] - season_stats['wins']
season_stats['win_pct'] = season_stats['wins'] / season_stats['games_played']
season_stats['point_diff'] = season_stats['avg_points_scored'] - season_stats['avg_points_allowed']

# Optional advanced features (toggle with separate booleans)
USE_OFFENSIVE_STRENGTH = True  # Set to False to exclude offensive_strength and efg_pct
USE_DEFENSIVE_STRENGTH = True  # Set to False to exclude defensive_strength
USE_ASSISTS_SQUARED = True     # Set to False to exclude assists_mean_squared

if USE_OFFENSIVE_STRENGTH:
    # Calculate effective field goal percentage (needed for offensive_strength)
    season_stats['efg_pct'] = (season_stats['fieldGoalsMade_mean'] + 0.5 * season_stats['threePointersMade_mean']) / (
        season_stats['fieldGoalsAttempted_mean'] + 1e-6  # Add small epsilon to avoid division by zero
    )
    
    # Composite offensive strength feature
    season_stats['offensive_strength'] = (
        season_stats['avg_points_scored'] + 
        season_stats['assists_mean'] + 
        season_stats['efg_pct']
    ) / 3

if USE_DEFENSIVE_STRENGTH:
    # Composite defensive strength feature
    season_stats['defensive_strength'] = (
        season_stats['avg_points_allowed'] + 
        season_stats['blocks_mean'] + 
        season_stats['steals_mean']
    ) / 3

if USE_ASSISTS_SQUARED:
    # Polynomial feature: square of assists_mean
    season_stats['assists_mean_squared'] = season_stats['assists_mean'] ** 2

print(f"Season stats shape: {season_stats.shape}")
print(f"\nNote: Training season stats (2000-2014) computed from games before All-Star break")
print(f"      Validation/Test season stats (2015-2018, 2021-2024) computed from full seasons")
season_stats.head(30)

Season stats shape: (686, 40)

Note: Training season stats (2000-2014) computed from games before All-Star break
      Validation/Test season stats (2015-2018, 2021-2024) computed from full seasons

,season,teamId,currentTeamName,wins,avg_points_scored,std_points_scored,teamScore_sum,avg_points_allowed,std_points_allowed,opponentScore_sum,...,pointsFromTurnovers_mean,benchPoints_mean,games_played,losses,win_pct,point_diff,efg_pct,offensive_strength,defensive_strength,assists_mean_squared
0,2000.0,1610612737,Hawks,16,87.285714,10.626225,4277,91.408163,10.267096,4479,...,NaN,NaN,49,33,0.326531,-4.122449,0.448325,35.033795,34.591837,301.624740
1,2000.0,1610612738,Celtics,22,93.959184,9.146856,4604,96.346939,10.425432,4721,...,NaN,NaN,49,27,0.448980,-2.387755,0.463309,38.310899,36.625850,420.668471
2,2000.0,1610612739,Cavaliers,20,91.702128,9.864109,4310,95.000000,13.121506,4465,...,NaN,NaN,47,27,0.425532,-3.297872,0.460516,37.380456,36.262411,399.149389
3,2000.0,1610612741,Bulls,6,86.312500,9.981166,4143,97.125000,9.077972,4662,...,NaN,NaN,48,42,0.125000,-10.812500,0.443029,35.856010,36.701389,433.160156
4,2000.0,1610612742,Mavericks,31,99.020000,9.951905,4951,95.300000,10.921333,4765,...,NaN,NaN,50,19,0.620000,3.720000,0.493405,40.031135,36.120000,423.536400
5,2000.0,1610612743,Nuggets,27,98.392157,11.049124,5018,99.627451,8.520471,5081,...,NaN,NaN,51,24,0.529412,-1.235294,0.476553,40.988916,37.522876,580.715494
6,2000.0,1610612744,Warriors,15,95.041667,11.669123,4562,100.666667,11.147623,4832,...,NaN,NaN,48,33,0.312500,-5.625000,0.447189,39.218507,38.159722,491.361111
7,2000.0,1610612745,Rockets,25,96.140000,11.421444,4807,94.900000,10.785951,4745,...,NaN,NaN,50,25,0.500000,1.240000,0.490353,38.650118,35.446667,373.262400
8,2000.0,1610612746,Clippers,16,89.980000,12.236596,4499,93.760000,10.422816,4688,...,NaN,NaN,50,34,0.320000,-3.780000,0.460156,36.320052,35.373333,342.990400
9,2000.0,1610612747,Lakers,31,99.936170,12.508092,4697,97.127660,11.950290,4565,...,NaN,NaN,47,16,0.659574,2.808511,0.498573,40.960517,36.609929,503.859212
10,2000.0,1610612748,Heat,30,88.900000,11.586850,4445,85.800000,8.523677,4290,...,NaN,NaN,50,20,0.600000,3.100000,0.464657,36.074886,32.546667,355.699600
11,2000.0,1610612749,Bucks,29,100.319149,9.233932,4715,96.702128,12.181445,4545,...,NaN,NaN,47,18,0.617021,3.617021,0.493287,40.838188,36.560284,470.982345
12,2000.0,1610612750,Timberwolves,32,97.180000,8.810221,4859,94.960000,11.483724,4748,...,NaN,NaN,50,18,0.640000,2.220000,0.481477,40.907159,36.260000,628.003600
13,2000.0,1610612751,Nets,17,90.078431,13.312916,4594,95.215686,10.934923,4856,...,NaN,NaN,51,34,0.333333,-5.137255,0.440703,36.676313,36.326797,380.632449
14,2000.0,1610612752,Knicks,29,87.936170,11.406337,4133,84.787234,9.951920,3985,...,NaN,NaN,47,18,0.617021,3.148936,0.471195,35.320185,31.950355,308.114531
15,2000.0,1610612753,Magic,25,97.000000,12.404529,4656,96.270833,10.444870,4621,...,NaN,NaN,48,23,0.520833,0.729167,0.464543,39.557625,36.638889,449.793403
16,2000.0,1610612754,Pacers,21,91.458333,7.767796,4390,92.250000,11.713785,4428,...,NaN,NaN,48,27,0.437500,-0.791667,0.467876,37.204570,34.951389,387.597656
17,2000.0,1610612755,76ers,36,95.280000,12.269158,4764,90.060000,11.573033,4503,...,NaN,NaN,50,14,0.720000,5.220000,0.475435,38.558478,34.813333,396.806400
18,2000.0,1610612756,Suns,28,93.541667,9.635834,4490,91.020833,11.218316,4369,...,NaN,NaN,48,20,0.583333,2.520833,0.460583,39.118805,35.340278,545.417101
19,2000.0,1610612757,Trail Blazers,35,94.800000,11.166641,4740,90.020000,11.457980,4501,...,NaN,NaN,50,15,0.700000,4.780000,0.494695,39.558232,34.666667,546.624400
20,2000.0,1610612758,Kings,31,100.760870,11.639368,4635,94.369565,12.300603,4341,...,NaN,NaN,46,15,0.673913,6.391304,0.481538,41.428629,36.637681,531.001890
21,2000.0,1610612759,Spurs,31,95.468085,10.379434,4487,88.765957,11.118361,4172,...,NaN,NaN,47,16,0.659574,6.702128,0.492237,39.043512,34.156028,448.177909
22,2000.0,1610612760,Thunder,28,97.961538,10.089718,5094,98.423077,12.016894,5118,...,NaN,NaN,52,24,0.538462,-0.461538,0.486979,40.078993,37.102564,474.737056
23,2000.0,1610612761,Raptors,26,96.530612,11.358004,4730,95.163265,11.678590,4663,...,NaN,NaN,49,23,0.530612,1.367347,0.461323,40.255815,35.768707,565.274885
24,2000.0,1610612762,Jazz,32,97.021277,10.718715,4560,91.638298,10.985020,4307,...,NaN,NaN,47,15,0.680851,5.382979,0.496258,41.115774,35.127660,667.177909
25,2000.0,1610612763,Grizzlies,13,91.551020,12.017455,4486,97.448980,11.363430,4775,...,NaN,NaN,49,36,0.265306,-5.897959,0.458099,38.322768,36.244898,527.124115
26,2000.0,1610612764,Wizards,12,91.224490,10.512424,4470,97.489796,8.806064,4777,...,NaN,NaN,49,37,0.244898,-6.265306,0.458149,37.315982,36.802721,410.682632
27,2000.0,1610612765,Pistons,19,95.180000,9.650399,4759,98.860000,9.800062,4943,...,NaN,NaN,50,31,0.380000,-3.680000,0.460772,38.500257,37.093333,394.419600
28,2000.0,1610612766,Hornets,26,90.019608,11.875168,4591,88.647059,11.511427,4521,...,NaN,NaN,51,25,0.509804,1.372549,0.450400,37.640329,34.026144,504.046521
29,2001.0,1610612737,Hawks,16,93.387755,10.485737,4576,100.102041,12.062761,4905,...,NaN,NaN,49,33,0.326531,-6.714286,0.466233,37.828881,37.544218,385.441066

In [27]:
# Create playoff label based on historical playoff qualification
# In the modern NBA (since 1984), 16 teams make playoffs (8 per conference)
# We'll use win threshold as proxy - typically ~41 wins (50% of 82 games) makes playoffs
# More accurate: top 8 teams per conference by win%

# For simplicity, we'll use a win percentage threshold
# Teams with win% >= 0.500 typically make playoffs, but let's be more precise
# by ranking teams and taking top 16 per season

def assign_playoff_status(season_df):
    """Assign playoff status to top 16 teams by win percentage each season"""
    season_df = season_df.sort_values('win_pct', ascending=False)
    season_df['playoff_rank'] = range(1, len(season_df) + 1)
    season_df['made_playoffs'] = (season_df['playoff_rank'] <= 16).astype(int)
    return season_df

season_stats = season_stats.groupby('season', group_keys=False).apply(assign_playoff_status)

# Verify playoff distribution
print("Playoff teams per season:")
print(season_stats.groupby('season')['made_playoffs'].sum())
print(f"\nOverall playoff distribution:\n{season_stats['made_playoffs'].value_counts()}")

Playoff teams per season:
season
2000.0    16
2001.0    16
2002.0    16
2003.0    16
2004.0    16
2005.0    16
2006.0    16
2007.0    16
2008.0    16
2009.0    16
2010.0    16
2011.0    16
2012.0    16
2013.0    16
2014.0    16
2015.0    16
2016.0    16
2017.0    16
2018.0    16
2021.0    16
2022.0    16
2023.0    16
2024.0    16
Name: made_playoffs, dtype: int64

Overall playoff distribution:
made_playoffs
1    368
0    318
Name: count, dtype: int64

/var/folders/31/_t7r4pl15ng3lrdcglpq152w0000gr/T/ipykernel_54788/1742141056.py:17: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  season_stats = season_stats.groupby('season', group_keys=False).apply(assign_playoff_status)

In [28]:
# Create train/validation/test splits
train_df = season_stats[season_stats['season'].isin(train_seasons)].copy()
val_df = season_stats[season_stats['season'].isin(val_seasons)].copy()
test_df = season_stats[season_stats['season'].isin(test_seasons)].copy()

print(f"Training set: {len(train_df)} team-seasons ({len(train_seasons)} seasons)")
print(f"Validation set: {len(val_df)} team-seasons ({len(val_seasons)} seasons)")
print(f"Test set: {len(test_df)} team-seasons ({len(test_seasons)} seasons)")

print(f"\nPlayoff distribution:")
print(f"  Train - Playoffs: {train_df['made_playoffs'].sum()}, Non-playoffs: {(train_df['made_playoffs']==0).sum()}")
print(f"  Val   - Playoffs: {val_df['made_playoffs'].sum()}, Non-playoffs: {(val_df['made_playoffs']==0).sum()}")
print(f"  Test  - Playoffs: {test_df['made_playoffs'].sum()}, Non-playoffs: {(test_df['made_playoffs']==0).sum()}")

Training set: 446 team-seasons (15 seasons)
Validation set: 120 team-seasons (4 seasons)
Test set: 120 team-seasons (4 seasons)

Playoff distribution:
  Train - Playoffs: 240, Non-playoffs: 206
  Val   - Playoffs: 64, Non-playoffs: 56
  Test  - Playoffs: 64, Non-playoffs: 56

In [29]:
# Define features for modeling (exclude identifiers and target)
exclude_cols = ['season', 'teamId', 'currentTeamName', 'made_playoffs', 'playoff_rank', 
                'wins', 'losses', 'games_played', 'teamScore_sum', 'opponentScore_sum']

feature_cols = [col for col in season_stats.columns if col not in exclude_cols]
print(f"Feature columns ({len(feature_cols)}):")
print(feature_cols)

# Prepare X and y for each split
X_train = train_df[feature_cols].values
y_train = train_df['made_playoffs'].values

X_val = val_df[feature_cols].values
y_val = val_df['made_playoffs'].values

X_test = test_df[feature_cols].values
y_test = test_df['made_playoffs'].values

print(f"\nFeature matrix shapes:")
print(f"  X_train: {X_train.shape}, y_train: {y_train.shape}")
print(f"  X_val: {X_val.shape}, y_val: {y_val.shape}")
print(f"  X_test: {X_test.shape}, y_test: {y_test.shape}")

Feature columns (32):
['avg_points_scored', 'std_points_scored', 'avg_points_allowed', 'std_points_allowed', 'assists_mean', 'fieldGoalsMade_mean', 'fieldGoalsAttempted_mean', 'fieldGoalsPercentage_mean', 'threePointersMade_mean', 'threePointersAttempted_mean', 'threePointersPercentage_mean', 'freeThrowsMade_mean', 'freeThrowsAttempted_mean', 'freeThrowsPercentage_mean', 'blocks_mean', 'steals_mean', 'reboundsDefensive_mean', 'reboundsOffensive_mean', 'reboundsTotal_mean', 'turnovers_mean', 'foulsPersonal_mean', 'plusMinusPoints_mean', 'pointsInThePaint_mean', 'pointsFastBreak_mean', 'pointsFromTurnovers_mean', 'benchPoints_mean', 'win_pct', 'point_diff', 'efg_pct', 'offensive_strength', 'defensive_strength', 'assists_mean_squared']

Feature matrix shapes:
  X_train: (446, 32), y_train: (446,)
  X_val: (120, 32), y_val: (120,)
  X_test: (120, 32), y_test: (120,)

In [30]:
# Feature scaling for model training
from sklearn.preprocessing import StandardScaler
import numpy as np

# Handle any NaN values
print(f"NaN values in training features: {np.isnan(X_train).sum()}")

# Fill NaN with column means
X_train = np.nan_to_num(X_train, nan=0)
X_val = np.nan_to_num(X_val, nan=0)
X_test = np.nan_to_num(X_test, nan=0)

# Scale features
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_val_scaled = scaler.transform(X_val)
X_test_scaled = scaler.transform(X_test)

print("Features scaled successfully!")
print(f"Training features mean: {X_train_scaled.mean():.4f}, std: {X_train_scaled.std():.4f}")

NaN values in training features: 1768
Features scaled successfully!
Training features mean: 0.0000, std: 0.9682

In [31]:
# Save processed datasets
output_path = "./data/processed"
os.makedirs(output_path, exist_ok=True)

# Save the full season stats
season_stats.to_csv(f"{output_path}/season_stats_all.csv", index=False)

# Save train/val/test splits with labels
train_df.to_csv(f"{output_path}/train_2000_2014.csv", index=False)
val_df.to_csv(f"{output_path}/val_2015_2018.csv", index=False)
test_df.to_csv(f"{output_path}/test_2021_2024.csv", index=False)

# Save numpy arrays for modeling
np.save(f"{output_path}/X_train_scaled.npy", X_train_scaled)
np.save(f"{output_path}/X_val_scaled.npy", X_val_scaled)
np.save(f"{output_path}/X_test_scaled.npy", X_test_scaled)
np.save(f"{output_path}/y_train.npy", y_train)
np.save(f"{output_path}/y_val.npy", y_val)
np.save(f"{output_path}/y_test.npy", y_test)

# Save feature names for reference
import json
with open(f"{output_path}/feature_names.json", 'w') as f:
    json.dump(feature_cols, f)

print(f" All processed data saved to {output_path}/")
print(f"\nFiles created:")
for f in glob.glob(f"{output_path}/*"):
    print(f"  - {f}")

 All processed data saved to ./data/processed/

Files created:
  - ./data/processed/train_2000_2014.csv
  - ./data/processed/X_val_scaled.npy
  - ./data/processed/test_2021_2024.csv
  - ./data/processed/feature_names.json
  - ./data/processed/X_train_scaled.npy
  - ./data/processed/val_2015_2018.csv
  - ./data/processed/y_train.npy
  - ./data/processed/season_stats_all.csv
  - ./data/processed/y_test.npy
  - ./data/processed/X_test_scaled.npy
  - ./data/processed/y_val.npy

In [32]:
# Summary of the data preparation
print("=" * 60)
print("NBA PLAYOFF PREDICTION - DATA PREPARATION SUMMARY")
print("=" * 60)

print(f"""
 Dataset Overview:
   - Source: Kaggle NBA Historical Data
   - Original games: {len(df):,}
   - Teams mapped to current franchises: {len(current_team_names)}

 Data Splits:
   - Training (2000-2014):   {len(train_df):>4} team-seasons (pre-All-Star games only)
   - Validation (2015-2018): {len(val_df):>4} team-seasons (full season)
   - Test (2021-2024):       {len(test_df):>4} team-seasons (full season)

 Target Variable:
   - made_playoffs: Binary (1 = playoff team, 0 = missed playoffs)
   - Based on top 16 teams by win% each season

 Features ({len(feature_cols)} total):
   - Scoring: avg points scored/allowed, point differential
   - Shooting: FG%, 3P%, FT%
   - Rebounds: offensive, defensive, total
   - Other: assists, steals, blocks, turnovers, fouls
   - Advanced: plus/minus, paint points, fastbreak points

  Notes:
   - 2019-2020 COVID bubble season excluded
   - Discontinued teams mapped to current franchise names
   - Features standardized using training set statistics
   - Training features computed only from games before All-Star break
   - This tests mid-season predictability of playoff qualification
""")

print("=" * 60)
print("Ready for model training!")
print("=" * 60)

============================================================
NBA PLAYOFF PREDICTION - DATA PREPARATION SUMMARY
============================================================

 Dataset Overview:
   - Source: Kaggle NBA Historical Data
   - Original games: 144,580
   - Teams mapped to current franchises: 70

 Data Splits:
   - Training (2000-2014):    446 team-seasons (pre-All-Star games only)
   - Validation (2015-2018):  120 team-seasons (full season)
   - Test (2021-2024):        120 team-seasons (full season)

 Target Variable:
   - made_playoffs: Binary (1 = playoff team, 0 = missed playoffs)
   - Based on top 16 teams by win% each season

 Features (32 total):
   - Scoring: avg points scored/allowed, point differential
   - Shooting: FG%, 3P%, FT%
   - Rebounds: offensive, defensive, total
   - Other: assists, steals, blocks, turnovers, fouls
   - Advanced: plus/minus, paint points, fastbreak points

  Notes:
   - 2019-2020 COVID bubble season excluded
   - Discontinued teams mapped to current franchise names
   - Features standardized using training set statistics
   - Training features computed only from games before All-Star break
   - This tests mid-season predictability of playoff qualification

============================================================
Ready for model training!
============================================================